<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">

        <!-- Головна активність -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Opora">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Інструкція -->
        <activity
            android:name=".InstructionActivity"
            android:theme="@style/Theme.Opora" />

        <!-- Активність входу в адмін панель -->
        <activity
            android:name=".AdminLoginActivity"
            android:theme="@style/Theme.Opora"/>

        <!-- Панель адміністратора -->
        <activity
            android:name=".AdminPanelActivity"
            android:theme="@style/Theme.Opora"/>

        <!-- Додавання матеріалу -->
        <activity
            android:name=".AddMaterialActivity"
            android:theme="@style/Theme.Opora"/>

        <!-- Редагування матеріалу -->
        <activity
            android:name=".EditMaterialActivity"
            android:theme="@style/Theme.Opora"/>

        <!-- Перегляд деталей матеріалу -->
        <activity
            android:name=".MaterialDetailActivity"
            android:theme="@style/Theme.Opora"/>

    </application>

</manifest>
